img {
    height: 100vh;
    width: 1700px;
        
  }
  .parallax-content {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.822);
    text-align: center;
  }
  
  .parallax-content h1{
      font-size: 70px;
      color: #fff;     
  }
  .parallax-content h3{
      font-size: 17px;
      color: #fff;     
  }
  
  .parallax-content button{
      background-color: transparent!important;
      border: 2px solid white!important;
      padding: 5px 15px!important;
      border-radius: 10px!important;
      color: white!important;
      margin-top: 25px!important;
      margin-bottom: 10px!important;
  }
  
  .parallax-content button:hover{
      background-color: tomato!important;
      color: white!important;
  }
  
 